.dropDownContainer {
    z-index: 9;
    width: max-content;
    height: max-content;
    padding-left: 8px;
    padding-right: 8px;

    .mainContainer {
        width: 100%;
        height: max-content;

        .icon-dropdown {
            font-size: .5rem;
            position: relative;
            transition: .3s ease;

            &.dropdownActive {
                transform: scale(-1, -1) translateY(-5.5px);
            }
        }
    }
    .dropDown {
        transform-style: preserve-3d;
        position: relative;
        left: -8px;
        width: calc(100% + 16px);
        height: max-content;
        padding-bottom: 9px;
        border-radius: 0 0 4px 4px;
        padding-top: 5px;
        padding-left: 8px;
        padding-right: 8px;
    
        ul {
            width: 100%;
            height: max-content;
            padding: 0;
            margin: 0;
            list-style-type: none;

            li {
                font-size: 1rem;
                line-height: 1.15rem;
                margin-top: 7px;
                width: max-content;

                &:nth-child(1) {
                    margin: 0;
                }
            }
        }
    }
}