.bannerContainer {
    width: 255px;
    height: 400px;
    border-radius: 4px;
    background: #fff;
    color: $white;
    padding: 20px;
    padding-bottom: 0;
    padding-top: 0;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
    background-position: center center !important;
    background-size: cover !important;
    display: grid;
    align-items: end;
    cursor: pointer;
    transition: .2s ease;
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    }
    &:active {
        transition: .05s ease;
        transform: translateY(0);
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    }

    .banner {
        position: relative;
        bottom: 20px;
        width: 95%;

        .headline {
            font-weight: 500;
            font-size: 1.3rem;
            line-height: 24px;
            margin: 0;
            margin-bottom: 10px;
        }
        .underline {
            font-size: .9rem;
            line-height: 18px;
            margin: 0;
        }
    }
}

.wideCardContainer {
    .bannerContainer {
        height: 350px;
    }
}


@media (max-width: 850px) {
    .wideCardContainer {
        .bannerContainer {
            height: 220px;
        }
    }

    .bannerContainer {
        padding: 10px !important;
        padding-left: 12.5px;
        padding-right: 12.5px;
        width: 163px;
        height: 273px;

        .banner {
            bottom: 0;
        }

        .headline {
            font-size: 15px !important;
            line-height: 15px !important;
            margin-bottom: 7px !important;
        }
        .underline {
            font-size: 12px !important;
            line-height: 14px !important;
        }
    }
}