#pcHeaderMain {
    width: 100%;
    height: max-content;

    @media (max-width: 850px){
        display: none !important;
    }

    #pcHeaderContainer {
        display: flex;
        width: 100%;
        height: 50px;
        background: #333333;
        justify-content: center;
        align-items: center;

        #darwinLogo {
            max-height: 47px !important;
        }

        #pcHeader {
            display: grid;
            width: 95%;
            min-width: max-content;
            max-width: 1150px;
            height: 70%;
            grid-template-columns: repeat(3,max-content) auto repeat(3,max-content);
            grid-gap: 2vw;

            .dropDown {
                color: $white;

                ul {
                    list-style-type: none;
                }
            }

            .headerItem {
                min-width: 100px;
                width: max-content;
                height: 100%;
                text-align: left;
                cursor: pointer;

                h3 {
                    font-size: 1rem;
                    line-height: 1rem;
                    font-weight: 500;
                    color: #fff;
                    margin: 0;
                    margin-bottom: -3px;
                }
                .icon {
                    position: relative;
                    top: -1px;
                    margin-left: 5px;
                    font-size: .5rem;
                }
                span {
                    font-size: .9rem;
                    line-height: .9rem;
                    color: #C7C7C7;
                }
                .text-warning {
                    font-weight: 500;
                }
                #onlineStatus {
                    display: inline-block;
                    position: relative;
                    top: -2.5px;
                    width: 5px;
                    height: 5px;
                    background: #00FF00;
                    border-radius: 1.5px;
                }

                &:nth-of-type(5){
                    width: 140px;

                    .dropDown {
                        width: max-content;
                        max-width: 325px;
                    }
                }
            }
            .withdropdown {
                i {
                    transition: .2s ease;
                }
                .dropDown {

                    li {
                        width: 100%;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .changeLangItem {
                margin-left: 20px;
                margin-top: 4px;
                width: max-content;
                height: max-content;
                min-width: 20px;

                span {
                    font-size: .9rem;
                    color: #fff;
                    background: #FCAF17;
                    border-radius: 10px;
                    padding: 7px;
                    padding-top: 3px;
                    padding-bottom: 3px;
                    font-weight: 600;
                    text-align: center;
                    transition: .2s ease;

                    &:hover {
                        background: rgb(230, 157, 11);
                    }
                }
            }
        }
    }
    #mainHeaderContainer {
        z-index: 9;
        display: flex;
        width: 100%;
        height: 76px;
        background: #231F20;
        justify-content: center;
        align-items: center;
        text-align: center;

        #mainHeader {
            display: grid;
            width: 95%;
            min-width: max-content;
            max-width: 1150px;
            height: 65%;
            grid-template-columns: repeat(2,max-content) auto max-content;
            align-items: center;
            grid-gap: 3vw;
            color: #f3f3f3;

            #menuOpenDiv {
                font-weight: 600;
                font-size: 1rem;
                color: #f3f3f3;
                cursor: pointer;
                display: grid;
                grid-template-columns: max-content auto;
                justify-items: center;
                align-items: center;
                
                .icon {
                    margin-right: 7px;
                    font-size: 1.5rem;
                }
            }
            .inputContainer {
                z-index: 7;
                height: 100%;
                max-height: 49px;
                width: auto;
                background: #595959;
                border-radius: 4px;
                display: grid;
                grid-template-columns: 60px auto;
                grid-template-rows: 100% max-content;
                transition: .3s ease;

                .icon {
                    color: #F3F3F3;
                    justify-self: center;
                    align-self: center;
                    font-size: 1.3rem;
                    cursor: pointer;
                }
                input {
                    background: none;
                    outline: none;
                    border: none;
                    text-align: left;
                    font-family: 'Noir Pro', sans-serif;
                    font-size: 1rem;
                    color: #fff;
                    height: 100%;
                    padding-right: 15px;

                    &::placeholder {
                        color: #F3F3F3;
                    }
                }



                /*          Desktop Search             */
                #desktopSearch {
                    width: 100%;
                    height: 357px;
                    background: #fff;
                    grid-column: span 2 / auto;
                    border-radius: 0 0 4px 4px;
                    display: grid;
                    grid-template-columns: 180px auto;
                    grid-gap: 12px;
                    padding: 20px;
                    overflow: hidden;

                    .fadedHeadline {
                        text-align: left;
                        display: block;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 18px;
                        color: var(--middlegray);
                        margin-bottom: 10px;
                    }
                    .searchRecomendationItem {
                        display: block;
                        color: var(--dark);
                        font-size: 16px;
                        line-height: 20px;
                        font-weight: 500;
                        margin-bottom: 10px;
                        cursor: pointer;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    #searchLeftSide {
                        overflow: auto;
                        &::-webkit-scrollbar {
                            width: 6px;
                        }
                        ::-webkit-scrollbar-track {
                            background: #fff;
                        }
                        &::-webkit-scrollbar-thumb {
                            background: #C7C7C7;
                            border-radius: 10px;
                        }
                        &::-webkit-scrollbar-thumb:hover {
                            background: var(--gray); 
                        }

                        .leftSideBlock {
                            margin-bottom: 18px;
                            text-align: left;
                        }
                    }
                    #searchRightSide {
                        &::-webkit-scrollbar {
                            width: 6px;
                        }
                        ::-webkit-scrollbar-track {
                            background: #fff;
                        }
                        &::-webkit-scrollbar-thumb {
                            background: #C7C7C7;
                            border-radius: 10px;
                        }
                        &::-webkit-scrollbar-thumb:hover {
                            background: var(--gray); 
                        }

                        .desktopSearchItem {
                            padding: 10px 20px 10px 20px;
                            border-radius: 5px;
                            width: 100%;
                            min-height: 65px;
                            display: grid;
                            grid-template-rows: 100%;
                            grid-template-columns: 55px auto 125px;
                            grid-gap: 10px;
                            text-align: left;
                            transition: .3s ease;
                            cursor: pointer;
                            &:hover {
                                background: var(--white);
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                            .searchItemInfoBlock {
                                height: 100%;
                                display: grid;
                                grid-template-columns: 100%;
                                grid-template-rows: repeat(2,max-content);
                                align-items: center;

                                .searchItemHeadline {
                                    color: var(--black);
                                    font-size: 20px;
                                    font-weight: 500;
                                    line-height: 24px;
                                }
                                .colorChoose {
                                    font-size: 14px;
                                    line-height: 22px;
                                    color: var(--dark);
                                }
                            }
                            .searchItemPriceBlock {
                                height: 100%;
                                justify-self: end;
                                display: grid;
                                grid-template-columns: 100%;
                                grid-template-rows: repeat(2,max-content);
                                align-items: center;

                                .mainPrice {
                                    color: var(--black);
                                    font-size: 20px;
                                    font-weight: 500;
                                    line-height: 24px;
                                }
                                .secondaryPrice {
                                    color: var(--gray);
                                    font-size: 14px;
                                    line-height: 22px;
                                }
                            }
                        }
                    }
                }



            }
            #iconsBlock {
                color: #f3f3f3;
                width: max-content;
                height: max-content;
                display: grid;
                grid-template-columns: repeat(4,1fr);
                grid-gap: 22px;

                i {
                    cursor: pointer;
                    font-size: 1.5rem;
                    color: #fff;
                }
            }
        }
    }
    #headerCategoriesContainer {
        z-index: 7;
        position: absolute;
        display: flex;
        width: 100%;
        height: max-content;
        justify-content: center;
        align-items: center;

        #headerCategories {
            display: grid;
            width: 100%;
            min-width: max-content;
            max-width: 1150px;
            height: max-content;
            background: #fff;
            padding: 25px;
            grid-template-columns: repeat(4,1fr);
            grid-gap: 1vw;
            text-align: left;
            color: #000;
            border-radius: 0 0 4px 4px;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);

            .categoriesItemBlock {
                width: 100%;
                height: max-content;

                .categoriesItem {
                    width: 100%;
                    height: max-content;

                    h2 {
                        font-size: 1.1rem;
                        letter-spacing: -.2px;
                        font-weight: 800;
                        color: #000;
                        padding: 0;
                        margin: 0;
                        margin-bottom: 7px;
                        cursor: pointer;
                    }
                    span {
                        display: block;
                        font-size: 1rem;
                        line-height: 1.6rem;
                        letter-spacing: -.2px;
                        font-weight: 500;
                        color: #000;
                        cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                        }
                        &:last-child {
                            margin-bottom: 23px;
                        }
                    }
                }
            }
        }
    }
}



/*             PHONE HEADER             */
#phoneHeadermain {
    width: 100%;
    height: 140px;
    background: $black;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-gap: 7px;
    padding-top: 10px;
    padding-bottom: 5px;

    @media (min-width: 850px){
        display: none !important;
    }

    #darwinPhoneLogo {
        max-height: 37px !important;
    }

    #optionsHeaderContainer {
        width: 100%;
        height: 100%;

        #optionsHeader {
            display: grid;
            grid-template-columns: auto repeat(2,max-content);
            justify-items: center;
            align-items: center;
            grid-gap: 28px;
            height: 100%;
            color: $white;

            img {
                justify-self: left;
                height: 100%;
            }
            span {
                line-height: 1rem;
                font-weight: 500;
                font-size: 1rem;

                i {
                    position: relative;
                    top: 5px;
                    font-size: 1.2rem;
                    line-height: 1rem;
                    margin-right: 3px;
                }
            }
            #optionsMenuToogler {
                position: relative;
                top: 1px;
                font-size: 1rem;
                line-height: 1rem;
            }
        }
    }
    #searchInputContainer {
        height: 100%;

        .dphoneContainerChild {
            height: 100%;

            .inputContainer {
                height: 100%;
                max-height: 49px;
                width: auto;
                background: #595959;
                border-radius: 4px;
                display: grid;
                grid-template-columns: 60px auto;

                .icon {
                    color: #F3F3F3;
                    justify-self: center;
                    align-self: center;
                    font-size: 1.3rem;
                    cursor: pointer;
                }
                input {
                    background: none;
                    outline: none;
                    border: none;
                    text-align: left;
                    font-family: 'Noir Pro', sans-serif;
                    font-size: 1rem;
                    color: #fff;
                    height: 100%;
                    padding-right: 15px;

                    &::placeholder {
                        color: #F3F3F3;
                    }
                }
            }
        }
    }
}



#phoneMenu {
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: $white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px calc(100vh - 50px);

    @media (min-width: 850px){
        display: none !important;
    }

    #phoneMenuHeaderContainer {
        width: 100%;
        height: 100%;
        background: $black;
        display: flex;
        justify-content: center;

        #phoneMenuHeader {
            height: 50px;

            #phoneMenuHeaderStep {
                display: grid;
                width: 100%;
                height: 100%;
                grid-template-columns: max-content auto max-content;
                grid-gap: 4vw;
                align-items: center;
                color: $white;

                .headlineContainer {
                    .headline {
                        font-size: 16px;
                        font-weight: 500;
                        color: $white;

                        &:nth-child(2){
                            display: none;
                        }
                    }
                }
            }
            #phoneMenuHeaderStart {
                display: grid;
                width: 100%;
                height: 100%;
                grid-template-columns: max-content auto max-content;
                grid-gap: 4vw;
                align-items: center;
                color: $white;

                .badge {
                    color: $white;
                    font-size: 14px;
                    font-weight: 500;
                    padding-right: 0;
                    padding-left: 0;
                    width: 35px;
                }
                .userCity {
                    text-align: left;
                    font-size: 16px;
                    font-weight: 500;

                    i {
                        margin-right: 3px;
                        position: relative;
                        top: 5px;
                        font-size: 20px;
                    }
                }
                .iconsBlock {
                    width: max-content;
                    height: 100%;
                    display: grid;
                    grid-template-columns: repeat(3,max-content);
                    grid-template-rows: 100%;
                    align-items: center;
                    grid-gap: 8vw;
                    .icon {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    #phoneMenuContent {
        overflow: auto;
        background: #fff;
        overflow-x: hidden;

        #phoneMenuUserBlock {
            height: max-content;
            min-height: 60px;

            .itemHeadline {
                word-break: break-word;
            }
        }
        .phoneMenuItemLayout {
            width: 100%;
            color: $black;
            padding-left: 15px;
            padding-right: 15px;
            display: grid;
            grid-template-columns: 30px auto max-content;
            grid-gap: 11px;
            align-items: center;
            min-height: 50px;

            .itemHeadline {
                text-align: left;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
            }
            i {
                font-size: 22px;

                &.icon-shortarrowright {
                    color: $gray-400;
                    font-size: 15px;
                }
            }
            .badge {
                color: $white;
                font-size: 14px;
                font-weight: 400;
            }
            &.borderBottom {
                border-bottom: 1px solid $gray-100;
            }
        }
        .phoneMenuContactItem {
            display: grid;
            padding-left: 15px;
            padding-right: 15px;
            grid-template-rows: repeat(2,max-content);
            margin-bottom: 15px;
            text-align: left;
            
            &:first-child {
                margin-top: 10px;
            }

            .contactItemHeadline {
                color: $gray-500;
                font-size: 14px;
                font-weight: 500;
            }
            .phone {
                font-size: 16px;
                color: $black;
                font-weight: 600;
            }
        }
    }
}

#phoneSearchContainer {
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: $white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px calc(100vh - 50px);

    @media (min-width: 850px){
        display: none !important;
    }

    .searchPadding {
        padding-left: 15px;
        padding-right: 15px;
    }
    #searchHeader {
        width: 100%;
        height: 100%;
        background: $black;
        color: $white;
        display: grid;
        grid-template-columns: max-content auto max-content;
        grid-gap: 5.5vw;
        align-items: center;

        .icon {
            font-size: 20px;
        }
        input {
            background: transparent;
            border: none;
            outline: none;
            color: $white;
            font-weight: 500;

            &::placeholder {
                color: $gray;
            }
        }
    }
    #searchContent {
        overflow: auto;
        background: #fff;
        overflow-x: hidden;

        #preSearchTab {
            padding-top: 15px;
            text-align: left;

            .presearchBlock {
                width: 100%;
                height: max-content;
                text-align: left;
                margin-bottom: 25px;

                span {
                    display: block;

                    &.presearchHeadline {
                        font-size: 17px;
                        font-weight: 500;
                        color: $gray-400;
                        margin-bottom: 7px;
                    }
                    &.presearchItem {
                        font-size: 17px;
                        font-weight: 500;
                        color: $gray-900;
                    }
                }
            }
            .preSearchTabHeadline {
                display: block;
                color: $black;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 20px;
            }
        }
        #mainSearchContainer {
            .searchItemBlock {
                min-height: 80px;
                height: max-content;
                border-bottom: 1px solid $gray-100;
                display: grid;
                grid-template-columns: 80px auto;
                grid-template-rows: repeat(3,max-content);
                padding-top: 10px;
                padding-bottom: 10px;
                grid-column-gap: 2vw;
                text-align: left;
                word-break: break-word;

                &:last-child {
                    margin-bottom: 50px;
                    border-bottom: 0;
                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                    grid-row: span 3 / auto;
                }
                .searchItemHeadline {
                    font-size: 20px;
                    line-height: 24px;
                    color: $black;
                    font-weight: 500;
                }
                .searchItemInfo {
                    font-size: 16px;
                    line-height: 20px;
                    color: $gray;
                    font-weight: 500;
                }
                .searchItemPrice {
                    font-size: 20px;
                    line-height: 24px;
                    color: $black;
                    font-weight: 600;
                }
            }
        }
        #bottomLink {
            position: fixed;
            bottom: 0;
            width: 100%;
            min-height: 50px;
            padding-top: 10px;
            padding-bottom: 10px;
            background: $yellow;
            color: $white;
            display: grid;
            grid-template-columns: 30px auto 30px;
            align-items: center;
            grid-gap: 7px;
            text-align: left;
            word-break: break-word;

            i {
                &:nth-child(1){
                    font-size: 25px;
                }
                &:nth-child(2){
                    font-size: 20px;
                }
            }
            .bottomLinkMessage {
                font-size: 16px;
                color: $white;
                font-weight: 500;
            }
        }
    }
}