/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$icon-arrowleft: unicode(ea01);
$icon-arrowright: unicode(ea02);
$icon-bag: unicode(ea03);
$icon-basket: unicode(ea04);
$icon-calendar: unicode(ea05);
$icon-cart: unicode(ea06);
$icon-close: unicode(ea07);
$icon-compare: unicode(ea08);
$icon-coupon: unicode(ea09);
$icon-cup: unicode(ea0a);
$icon-discount: unicode(ea0b);
$icon-dropdown: unicode(ea0c);
$icon-edit: unicode(ea0d);
$icon-eye: unicode(ea0e);
$icon-facebook: unicode(ea0f);
$icon-filter: unicode(ea10);
$icon-gadget: unicode(ea11);
$icon-gift: unicode(ea12);
$icon-gps: unicode(ea13);
$icon-gpsforward: unicode(ea14);
$icon-heart: unicode(ea15);
$icon-instagram: unicode(ea16);
$icon-iphone: unicode(ea17);
$icon-iqos: unicode(ea18);
$icon-lightning: unicode(ea19);
$icon-like: unicode(ea1a);
$icon-menu: unicode(ea1b);
$icon-monitor: unicode(ea1c);
$icon-navigation: unicode(ea1d);
$icon-notebook: unicode(ea1e);
$icon-odnoklassniki: unicode(ea1f);
$icon-paycard: unicode(ea20);
$icon-phonecall: unicode(ea21);
$icon-route: unicode(ea22);
$icon-search: unicode(ea23);
$icon-shortarrowleft: unicode(ea24);
$icon-shortarrowright: unicode(ea25);
$icon-smartphone: unicode(ea26);
$icon-sound: unicode(ea27);
$icon-tablet: unicode(ea28);
$icon-tag: unicode(ea29);
$icon-time: unicode(ea2a);
$icon-truck: unicode(ea2b);
$icon-user: unicode(ea2c);
$icon-vk: unicode(ea2d);
$icon-watch: unicode(ea2e);
$icon-youtube: unicode(ea2f);

.icon-arrowleft::before {
  content: $icon-arrowleft;
}

.icon-arrowright::before {
  content: $icon-arrowright;
}

.icon-bag::before {
  content: $icon-bag;
}

.icon-basket::before {
  content: $icon-basket;
}

.icon-calendar::before {
  content: $icon-calendar;
}

.icon-cart::before {
  content: $icon-cart;
}

.icon-close::before {
  content: $icon-close;
}

.icon-compare::before {
  content: $icon-compare;
}

.icon-coupon::before {
  content: $icon-coupon;
}

.icon-cup::before {
  content: $icon-cup;
}

.icon-discount::before {
  content: $icon-discount;
}

.icon-dropdown::before {
  content: $icon-dropdown;
}

.icon-edit::before {
  content: $icon-edit;
}

.icon-eye::before {
  content: $icon-eye;
}

.icon-facebook::before {
  content: $icon-facebook;
}

.icon-filter::before {
  content: $icon-filter;
}

.icon-gadget::before {
  content: $icon-gadget;
}

.icon-gift::before {
  content: $icon-gift;
}

.icon-gps::before {
  content: $icon-gps;
}

.icon-gpsforward::before {
  content: $icon-gpsforward;
}

.icon-heart::before {
  content: $icon-heart;
}

.icon-instagram::before {
  content: $icon-instagram;
}

.icon-iphone::before {
  content: $icon-iphone;
}

.icon-iqos::before {
  content: $icon-iqos;
}

.icon-lightning::before {
  content: $icon-lightning;
}

.icon-like::before {
  content: $icon-like;
}

.icon-menu::before {
  content: $icon-menu;
}

.icon-monitor::before {
  content: $icon-monitor;
}

.icon-navigation::before {
  content: $icon-navigation;
}

.icon-notebook::before {
  content: $icon-notebook;
}

.icon-odnoklassniki::before {
  content: $icon-odnoklassniki;
}

.icon-paycard::before {
  content: $icon-paycard;
}

.icon-phonecall::before {
  content: $icon-phonecall;
}

.icon-route::before {
  content: $icon-route;
}

.icon-search::before {
  content: $icon-search;
}

.icon-shortarrowleft::before {
  content: $icon-shortarrowleft;
}

.icon-shortarrowright::before {
  content: $icon-shortarrowright;
}

.icon-smartphone::before {
  content: $icon-smartphone;
}

.icon-sound::before {
  content: $icon-sound;
}

.icon-tablet::before {
  content: $icon-tablet;
}

.icon-tag::before {
  content: $icon-tag;
}

.icon-time::before {
  content: $icon-time;
}

.icon-truck::before {
  content: $icon-truck;
}

.icon-user::before {
  content: $icon-user;
}

.icon-vk::before {
  content: $icon-vk;
}

.icon-watch::before {
  content: $icon-watch;
}

.icon-youtube::before {
  content: $icon-youtube;
}

