.badge {
    text-transform: none;

    a {
        color: #FFF;
    }

    &:not(.badge-outline):not(.badge-white){
        color: #FFF;
    }
    &.badge-lg {
        padding: $badge-lg-padding-y $badge-lg-padding-x;
    }
}
.badge-outline {
    border-width: 2px;
    background: none;
}

// Variations
.badge-pill {
    padding-right: $badge-pill-padding-x;
    padding-left: $badge-pill-padding-x;
}

.badge-circle {
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-size: .875rem;
}

// Multiple inline badges
.badge-inline {
    margin-right: .625rem;
}

.badge-inline + span {
    top: 2px;
    position: relative;
}

.badge-inline + span > a {
    text-decoration: underline;
} 

// Sizes
.badge-md {
    padding: .65em 1em;
}

.badge-lg {
    padding: .85em 1.375em;
}


// Color variations

.badge-white {
    color: $gray-800;
}

// Link badges

.btn {
    .badge {
        &:not(:first-child) {
            margin-left: .5rem;
        }
        &:not(:last-child) {
            margin-right: .5rem;
        }
    }
}

[class^="icon-badge"], [class*=" icon-badge"] {
    display: inline-block;
    width: 24px;
    height: 24px;
    &:after {
        content: '';
        display: block;
        position: relative;
        background: $yellow;
        width: 6px;
        height: 6px;
        top: -29px;
        left: 19px;
        border-radius: 50%;
        border: 4px solid $white;
        box-sizing: content-box;
    }

    &.icon-badge-white {
        &:after {
            border-color: $white;
        }
        i {
            color: $default;
        }
    }
    &.icon-badge-black {
        &:after {
            border-color: $default;
        }
        i {
            color: $white;
        }
    }

    i {
        font-size: 24px;
        line-height: 24px;
    }
}