
.icon-menu:before { content: '\e800'; } /* '' */
.icon-tablet:before { content: '\e801'; } /* '' */
.icon-time:before { content: '\e802'; } /* '' */
.icon-monitor:before { content: '\e803'; } /* '' */
.icon-navigation:before { content: '\e804'; } /* '' */
.icon-notebook:before { content: '\e805'; } /* '' */
.icon-odnoklassniki:before { content: '\e806'; } /* '' */
.icon-paycard:before { content: '\e807'; } /* '' */
.icon-route:before { content: '\e808'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-shortarrowleft:before { content: '\e80a'; } /* '' */
.icon-shortarrowright:before { content: '\e80b'; } /* '' */
.icon-smartphone:before { content: '\e80c'; } /* '' */
.icon-sound:before { content: '\e80d'; } /* '' */
.icon-tag:before { content: '\e80e'; } /* '' */
.icon-truck:before { content: '\e80f'; } /* '' */
.icon-user:before { content: '\e810'; } /* '' */
.icon-vk:before { content: '\e811'; } /* '' */
.icon-watch:before { content: '\e812'; } /* '' */
.icon-youtube:before { content: '\e813'; } /* '' */
.icon-play:before { content: '\e814'; } /* '' */
.icon-arrowleft:before { content: '\e815'; } /* '' */
.icon-arrowright:before { content: '\e816'; } /* '' */
.icon-bag:before { content: '\e817'; } /* '' */
.icon-basket:before { content: '\e818'; } /* '' */
.icon-calendar:before { content: '\e819'; } /* '' */
.icon-phonecall:before { content: '\e81a'; } /* '' */
.icon-cart:before { content: '\e81b'; } /* '' */
.icon-close:before { content: '\e81c'; } /* '' */
.icon-compare:before { content: '\e81d'; } /* '' */
.icon-coupon:before { content: '\e81e'; } /* '' */
.icon-cup:before { content: '\e81f'; } /* '' */
.icon-discount:before { content: '\e820'; } /* '' */
.icon-dropdown:before { content: '\e821'; } /* '' */
.icon-edit:before { content: '\e822'; } /* '' */
.icon-eye:before { content: '\e823'; } /* '' */
.icon-facebook:before { content: '\e824'; } /* '' */
.icon-filter:before { content: '\e825'; } /* '' */
.icon-gadget:before { content: '\e826'; } /* '' */
.icon-gift:before { content: '\e827'; } /* '' */
.icon-gps:before { content: '\e828'; } /* '' */
.icon-gpsforward:before { content: '\e829'; } /* '' */
.icon-heart:before { content: '\e82a'; } /* '' */
.icon-instagram:before { content: '\e82b'; } /* '' */
.icon-iphone:before { content: '\e82c'; } /* '' */
.icon-iqos:before { content: '\e82d'; } /* '' */
.icon-lightning:before { content: '\e82e'; } /* '' */
.icon-like:before { content: '\e82f'; } /* '' */